body {
    padding-top: 7%;
    font-family: Arial, "Helvetica", sans-serif;
}

body > h1 {
    text-align: center;
    padding-bottom: 3%;
}

.login {
  background: #eceeee;
  border-radius: 4px;
  height: 257px;
  width: 300px;
  margin: auto;
}

input[type="password"], input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 20px;
  transition: box-shadow 0.3s;
  width: 240px;
}

input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 2px rgba(55, 166, 155, 0.7);
  outline: 0;
}

input[type="submit"] {
  width: 240px;
  height: 35px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-top: 6px;
  margin: 29px 0 0 29px;
  cursor: pointer;
  border: none;  
  background-color: #37a69b;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

input[type="submit"]:hover {
    background-color: #497a78;
}

input[type="submit"]:active {
  top: 3px;
  box-shadow: 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
  /* outline: none; */
  border: none;
}